<div id="<%= dom_id(@message) %>">
  <span id="<%= dom_id(@message, "shakable_content") %>">
    <strong><%= @message.handle %></strong> <%= format_message @message.body %>
    <%= link_to "[x]", message_path(@message), :method => :delete, :remote => true %>
  </span>
</div>