
<div id="messages"></div>

<div id="stephen" style="position:fixed;display:none;top:30%;left:35%">
  <%= image_tag "stephen.jpg", :id => "stephen" %>
</div>

<% content_for :message_input do %>
<div class="create">  
  <div class="application">
    <%= form_for :message, :id => "new_message_form", :remote => true, :html => {:class => "chat"} do |f| %>
      <%= f.text_area :body %><b></b> <%= f.submit "Say it!" %>
    <% end %>
    <span class="rest-in-place" data-url="/handles/pft" data-object="handle" data-attribute="body">
      <%= session[:handle] %>
    </span>
  </div>
</div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    var faye = new Faye.Client("http://<%= faye_host %>/faye");
    faye.subscribe("/messages/new", function(data){ eval(data); });
    faye.subscribe("/messages/destroy", function(data){ eval(data); });

    var mySound = new buzz.sound("/sounds/intro", {
        formats: [ "ogg", "mp3"]
    });

    mySound.play();
  })
</script>