<div id="messages"></div>

<%= hidden_box_for("stephen", "ross", "eastmedia", "pants", "jeff", "alison", "brett", "josh").html_safe %>

<div id="zeus" style="position:fixed;display:none;top:2%;left:10%;z-index:9999; margin-left: auto;margin-right: auto;">
  <%= image_tag "zeus.jpg"  %>
</div>

<% content_for :sidebar do %>
  <div class="sidebar">
    <p><strong>Rules of the game</strong><p>
    <p>The rules are: there are no rules! Just remember, whatever you do affects everyone else. So do it all!</p>
    <p class="credits">Created by <a href="http://github.com/nodanaonlyzuul">nodanaonlyzuul</a> and <a href="http://github.com/pnts">pnts</a> during the <a href="http://eastmedia.com">Eastmedia</a> hackathon.</p>
    <p>
      <strong>
        <span id="user_count"></span>
      </strong>
    </p>
  </div>
<% end %>

<% content_for :message_input do %>
<div class="create">
  <div class="application">
    <%= form_for :message, :id => "new_message_form", :remote => true, :url => room_messages_path(params[:room_id]) , :html => {:class => "chat"} do |f| %>
      <%= f.text_area :body %><b></b> <%= f.submit "Say it!" %>
    <% end %>
    <span class="rest-in-place" data-url="/handles/doesnothing" data-object="handle" data-attribute="body">
      <%= session[:handle] %>
    </span>
  </div>
</div>

<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    var faye = new Faye.Client("http://<%= faye_host %>/faye");

    faye.subscribe('<%= "/#{params[:room_id]}/messages/new" -%>', function(data){ console.log(data);eval(data); });
    faye.subscribe('<%= "/#{params[:room_id]}/messages/destroy" -%>', function(data){ eval(data); });

    var mySound = new buzz.sound("/sounds/intro", {
        formats: [ "ogg", "mp3"]
    });

    mySound.play();

    var message_text_field = $("#message_body");

    message_text_field.keyup(function(e){
      if (e.keyCode === 13 && $("#message_body").val().trim() != "") {
         $("form.chat").submit();
       }
    }).focus();

  })
</script>

<script type="text/javascript" charset="utf-8">
  $(function(){
    xbxrx("<%= room_heartbeats_path(params[:room_id])%>");
    window.setInterval(function(){xbxrx("<%= room_heartbeats_path(params[:room_id])%>")}, <%= Heartbeat::INTERVAL %>);
  })

</script>