<!DOCTYPE html>

<head>
  <title>onebigchatroom</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta property="og:title" content="One Big Chatroom" />
  <meta property="og:image" content="http://onebigchatroom.com/assets/pow.png" />
  <meta property="og:description" content="It's a big, loud chatroom - and no one is refused" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://#{faye_host}/faye.js" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="application">
    <header>
      <h1>One Big Chat Room <%= params[:room_id] && params[:room_id] != 'chat' ? "(#{params[:room_id]})" : ""  %><b></b></h1>
      <% if params[:room_id] == 'chat' %>
      <span class="tagline">
        New and elegant means, applied to the end of fun and experimentation. <br/>
        It beats writing ColdFusion apps.
      </span>
      <% end %>
    </header>

    <%= yield %>

    <% if sidebar = yield(:sidebar) -%>
      <%= sidebar -%>
    <% end %>
  </div>


  <% if message_input = yield(:message_input) -%>
    <%= message_input -%>
  <% end %>

  <% if credits = yield(:credits) -%>
    <%= credits -%>
  <% end %>

  <%= render :partial => "shared/google_analytics" %>
</body>
</html>
